*.pyc
venv/*
.vagrant/*
__pycache__/*
controllers/__pycache__/*
controllers/*.pyc
Vagrantfile
config.py
static/songs/users/
localconfig.py
config.py
machine_learning_dsp/model_files
machine_learning_dsp/Training 
machine_learning_and_dsp/Testing
machine_learning_and_dsp/Training
machine_learning_and_dsp/model_files

