{% extends "base.html" %}

{% block head %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/allsamples.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/allsamples.js') }}"></script>

{% endblock %}

{% block content %}
<div style="padding-left:10px; padding-right:10px;">
    <div style="padding-bottom:50px">
        <h3>All Data Samples</h3>
    </div>
    <div style="padding-bottom:10px">
        <form method="post">
            <div style="display:inline-block;">
                <p style="display:inline-block; font-size:75%">Sort data by:</p>
                <select name="sort" id="sort">
                    <option value="sampleid">Sample ID</option>
                    <option value="deviceid">Device ID</option>
                    <option value="added">Time</option>
                    <option value="latitude">Latitude</option>
                    <option value="longitude">Longitude</option>
                    <option value="humidity">Humidity</option>
                    <option value="temp">Temperature</option>
                    <option value="light">Light</option>
                    <option value="type1">Species</option>
                    <option value="per1">Percentage</option>
                </select>
                <select name="dir" onchange='if(this.value != 0) { this.form.submit(); }'>
                    <option value="ascending">Ascending</option>
                    <option value="descending">Descending</option>
                </select>
            </div>
            <div style="display:inline-block; float:right">
                <p style="display:inline-block; font-size:75%">Optional sort:</p>
                <select name="col">
                    <option value="sampleid">Sample ID</option>
                    <option value="deviceid">Device ID</option>
                    <option value="latitude">Latitude</option>
                    <option value="longitude">Longitude</option>
                    <option value="humidity">Humidity</option>
                    <option value="temp">Temperature</option>
                    <option value="light">Light</option>
                    <option value="type1">Species</option>
                    <option value="per1">Percentage</option>
                </select>
                <select name="equ">
                    <option value="">Condition</option>
                    <option value="equal">=</option>
                    <option value="notequal">&#8800</option>
                    <option value="greater">></option>
                    <option value="lesser"><</option>
                    <option value="greaterand">> =</option>
                    <option value="lesserand">< =</option>
                </select>
                <input type="text" name="input" placeholder="Your Value" />
            </div>
        </form>
    </div>
</div>


<div>

    <div class="sample">
        <div class="c100 p85 green">
            <span>85%</span>
            <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
            </div>
        </div>

        <div class="species">Species:</div>
        <div class="bird">Robin</div>
        <div class="upload">Upload On:</div>
        <div class="time">2017-11-142 19:20:24</div>

        <form action="{{url_for('info.info_route')}}">
            <button type="submit" name="sampleid" value="{{1}}" class="button">Learn More</button>
        </form>
    </div>

</div>

<div class="pagination">
    <a href="/#">&laquo;</a>
    <a href="/#">1</a>
    <a href="/#">&raquo;</a>
</div>


{% endblock %}