{% extends "base.html" %}

{% block head %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/upload.css') }}"
          xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <script type="text/javascript" src="{{ url_for('static', filename='js/new_user.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="boxes">
        <div class="login">
            <form>
                <input type="text" placeholder="Username" class="username" title="username_box"/>
                <input type="password" placeholder="Password" class="password" title="password_box"/>
                <input type="password" placeholder="Confirm Password" class="confirm_password"
                       title="confirm_pass_box"/>
                <button class="login_button" name="Login" type="button" onclick="new_user()">Create user</button>
            </form>
            <p class="error"></p>
        </div>
    </div>

{% endblock %}