{% extends "base.html" %}

{% block head %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/sqlpage.css') }}">
{% endblock %}

{% block content %}
<div style="margin-top: 3%; margin-bottom: 3%; margin-left: 10%; margin-right: 10%;">
    <div>
        <h3>Pro Users</h3>
    </div>
    <p><i>SQL commands using SELECT only, others will be rejected!</i> Columns within table <b>sampleInfo</b>:</p>
    <table style="width:100%; border:none;">
        <tr><td>&#9656 sampleid INTEGER</td>
            <td>&#9656 deviceid INTEGER</td>
            <td>&#9656 added TIMESTAMP</td></tr>
        <tr><td>&#9656 type1 VARCHAR (First Match Species)</td>
            <td>&#9656 type2 VARCHAR (Second Match Species)</td>
            <td>&#9656 type3 VARCHAR (Third Match Species)</td></tr>
        <tr><td>&#9656 per1 FLOAT (First Match Percentage)</td>
            <td>&#9656 per2 FLOAT (Second Match Percentage)</td>
            <td>&#9656 per3 FLOAT (Third Match Percentage)</td></tr>
        <tr><td>&#9656 humidity INTEGER</td>
            <td>&#9656 temp FLOAT</td>
            <td>&#9656 light FLOAT</td></tr>
        <tr><td>&#9656 latitude FLOAT</td>
            <td>&#9656 longitude FLOAT</td>
            <td>&#9656 user VARCHAR</td></tr>
    </table>

    <form method="post">
        <p style="display:inline-block;">SQL command:</p>
        <input style="display:inline-block; width:50%;" type="text" name="command" />
        <input style="display:inline-block;" type="submit">
    </form>

    {% if error %}
        <p>{{error}}</p>
    {% endif %}
    {% if result %}
        <p>Results from query: <i>{{search}}</i></p>
        <table style="width:100%">
            <tr>
                {% for col in cols %}
                    <th>{{col}}</th>
                {% endfor %}
            </tr>
            {% for res in result %}
                <tr>
                    {% for col in cols %}
                        <td>{{res[col]}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
	    </table>
    {% endif %}
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/sqlpage.js') }}"></script>
{% endblock %}