{% extends "base.html" %}

{% block head %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/sqlpage.css') }}">
{% endblock %}

{% block content %}
<div style="padding-left:10px; padding-right:10px;">
    <div style="padding-bottom:50px;">
        <h3>All Data Samples</h3>
    </div>
    <p><i>SQL commands using SELECT only, others will be rejected!</i><br></p>
    <p>Columns within table <b>sampleInfo</b>:</p>
    <ulcl>
        <li>sampleid INTEGER</li>
        <li>deviceid INTEGER</li>
        <li>added TIMESTAMP</li>
        <li>latitude FLOAT</li>
        <li>longitude FLOAT</li>
        <li>humidity INTEGER</li>
        <li>temp FLOAT</li>
        <li>light FLOAT</li>
        <li>type1 VARCHAR (First Match Species)</li>
        <li>per1 FLOAT (First Match Percentage)</li>
        <li>type2 VARCHAR (Second Match Species)</li>
        <li>per3 FLOAT (Second Match Percentage)</li>
        <li>type3 VARCHAR (Third Match Species)</li>
        <li>per3 FLOAT (Third Match Percentage)</li>
    </ulcl>

    <p>SQL command:</p>
    <form method="post">
        <input type="text" name="command" style="width: 50%;" />
        <input class="button" type="submit">
    </form>
    <p>(Data will be displayed as retreived.)</p>

    {% if error %}
        <p><br>{{error}}</p>
    {% endif %}
    {% if result %}
        <p><br>Results from query: <i>{{search}}</i><br></p>
        <table style="width:100%">
            {% for res in result %}
                <tr><td>{{res}}</td></tr>
            {% endfor %}
	    </table>
    {% endif %}
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/sqlpage.js') }}"></script>
{% endblock %}