{% extends "base.html" %}

{% block head %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/sqlpage.css') }}">
{% endblock %}

{% block content %}
<div style="padding-left:10px; padding-right:10px;">
    <div>
        <h3>Pro Users</h3>
    </div>
    <p><i>SQL commands using SELECT only, others will be rejected!</i>(Data will be displayed as retreived.) Columns within table <b>sampleInfo</b>:</p>
    <table style="width:100%; border:none; text-align:center;">
        <tr><td>sampleid INTEGER</td>
            <td>deviceid INTEGER</td>
            <td>added TIMESTAMP</td></tr>
        <tr><td>type1 VARCHAR (First Match Species)</td>
            <td>type2 VARCHAR (Second Match Species)</td>
            <td>type3 VARCHAR (Third Match Species)</td></tr>
        <tr><td>per1 FLOAT (First Match Percentage)</td>
            <td>per2 FLOAT (Second Match Percentage)</td>
            <td>per3 FLOAT (Third Match Percentage)</td></tr>
        <tr><td>humidity INTEGER</td>
            <td>temp FLOAT</td>
            <td>light FLOAT</td></tr>
        <tr><td>latitude FLOAT</td>
            <td>longitude FLOAT</td>
            <td></td></tr>
    </table>

    <form method="post">
        <p>SQL command:</p>
        <input type="text" name="command" style="width: 50%;" />
        <input class="button" type="submit">
    </form>

    {% if error %}
        <p>{{error}}</p>
    {% endif %}
    {% if result %}
        <p>Results from query: <i>{{search}}</i></p>
        <table style="width:100%">
            {% for res in result %}
                <tr>
                    {% for col in cols %}
                        <td>{{res[col]}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
	    </table>
    {% endif %}
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/sqlpage.js') }}"></script>
{% endblock %}