{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
{% endblock %}

{% block content %}
<style>
.header {
    font-weight: 600;
}

label, input {
    display: inline-block;
    vertical-align: baseline;
    width: 125px;
}

label {
    color: #2D2D2D;
    font-size: 15px;
}

form, input {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

form {
    width: 300px;
}

.boxes {
    display: flex;
    margin: 0 auto;
    width: fit-content;
}

.upload {
    border: 1px solid white;
    width: max-content;
    padding: 30px;
}

.upload_title {
    margin-bottom: 30px;
    font-size: 31px;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-weight: 600;
}

.info {
    display: table;
}

.submit_file {
    background-color: #696969;
    border: 1px solid #696969;
    width: 100px;
    height: 30px;
    outline: none;
    box-shadow: 2px 2px 2px #3a3238;
    border-radius: 30px;
}

.file-upload {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
}

.file-select {
    width: 297px;
    border: 2px solid #696969;
    border-radius: 15px;
    cursor: pointer;
    color: #444141;
    text-align: left;
    background: #cab38e;
    overflow: hidden;
    position: relative;
}
.file-select-button{
    background: #696969;
    padding: 1px 10px;
    display: inline-block;
    height: 25px;
    line-height: 25px;
}

.file-select-name{
    line-height: 25px;
    display: inline-block;
    padding: 0 10px;
}

input[type=file]{
    z-index: 100;
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}

.submit_line {
    display: flex;
    height: 30px;
}

.submit_error {
    margin-left: 15px;
    margin-top: 6px;
    font-size: 15px;
}

.result {
    margin-left: 50px;
    border: 1px solid white;
    padding: 30px;
}

.upload_filename {
    margin-bottom: 10px;
    font-size: 20px;
}

.classification {
    margin-top: 30px;
}

.classification_title {
    font-size: 25px;
    font-weight: 600;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    margin-bottom: 10px;
}

.classification_result {
    font-size: 20px;
    margin-bottom: 5px;
}

.bar {
  /*fill: #FF8989;*/
  font-size: 80%;
}

.axis text {
  font-size: 12px;
  font-family: sans-serif;
}

.x.axis text {
  fill: #B7B7B7;
}

.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.x.axis line {
  display: none;
}

.y.axis line {
  display: none;
}

.visulization {
    display: flex;
}

#pagin {
    position: relative;
    top: 20px;
    margin: 0 auto;
}

#pagin li {
    display: inline-block;
    font-size: 15px;
    margin-right: 10px;
}

.paging_num {
    color: orange;
}

.paging_num:hover {
    text-decoration: underline;
}

.ellipsis {
    margin-left: 10px;
    margin-right: -5px;
}

.prev {
    margin-right: 10px;
    display: none;
}

.prev:hover {
    cursor: pointer;
}

.next:hover {
    cursor: pointer;
}

.current {
    color: red;
}

.first {
    margin-right: 10px;
}

.first:hover {
    cursor: pointer;
}

.last {
    margin-left: 10px;
}

.last:hover {
    cursor: pointer;
}

.waveform {
    float: right;
}

.audiofile {
    float: right;
    margin-right: 5px;
}

.audio_user, .audio_user_clean, .audio_activity, .audio_noise {
    height: 55px;
}
</style>

<div class="boxes">
    <div class="upload">
        <div class="upload_title">
            Upload your song
        </div>
        <form method="post" enctype="multipart/form-data">
            <div class="file-upload">
                <div class="file-select">
                    <div class="file-select-button" id="fileName">Choose File</div>
                    <div class="file-select-name" id="noFile">No file chosen...</div> 
                    <!-- <input type="file" name="chooseFile" id="chooseFile"> -->
                    <input type="file" name="file" accept="audio/*" class="info choose_file" id="chooseFile" multiple>
                </div>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label info">
                <input class="mdl-textfield__input" type="text" id="latitude" name='latitude'>
                <label class="mdl-textfield__label" for="latitude">Latitude</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label info">
                <input class="mdl-textfield__input" type="text" id="longitude" name='longitude'>
                <label class="mdl-textfield__label" for="longitude">Longitude</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label info">
                <input class="mdl-textfield__input" type="text" id="humidity" name='humidity'>
                <label class="mdl-textfield__label" for="humidity">Humidity</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label info">
                <input class="mdl-textfield__input" type="text" id="temperature" name='temp'>
                <label class="mdl-textfield__label" for="temperature">Temperature</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label info">
                <input class="mdl-textfield__input" type="text" id="light" name='light'>
                <label class="mdl-textfield__label" for="light">Light</label>
            </div>
            <div class="submit_line">
                <input class="info submit_file" type="submit" value="Upload">
                {% if noFile %}
                    <p class="submit_error"> No file part! </p>
                {% endif %}
                {% if emptyname %}
                    <p class="submit_error"> The filename is empty! </p>
                {% endif %}
            </div>
        </form>
    </div>

    {% if matches %}
    <div class="result">
        <div class='upload_title'>
            Thank you for uploading!
        </div>
        {% for match in matches %}
        <div class="result_sub">
            <div class="upload_filename">
                The uploaded file is {{match.filename}} (sampleid is {{match.sample_id}})
            </div>
            <div class="audio_user" data-audio-user={{match.filename}} data-user-waveform={{match.user}}>
                <p>original file</p>
            </div>
            <div class="audio_user_clean" data-audio-user-clean={{match.user_clean_audio}} data-user-clean-waveform={{match.user_clean}}>
                <p>clean file</p>
            </div>
            <div class="audio_activity" data-audio-activity={{match.activity_audio}} data-activity-waveform={{match.activity}}>
                <p>activity file</p>
            </div>
            <div class="audio_noise" data-audio-noise={{match.noise_audio}} data-noise-waveform={{match.noise}}>
                <p>noise file</p>
            </div>
            <div class='classification'>
                <div class='classification_title' data-classification='{{match.match}}'>
                    Classification Results:
                </div>
                <div class="visulization">
                    <svg class='chart_hist'></svg>
                    <svg class='chart_pie'>
                </div>
            </div>
        </div>
        {% endfor %}
        <ul id="pagin"></ul>
    </div>
    {% endif %}
</div>

<script type="text/javascript">
    $('#chooseFile').bind('change', function () {
        var size = $("#chooseFile")[0].files.length
        if (size > 1) {
            $("#noFile").text(size + ' files chosen'); 
        } else {
            var filename = $("#chooseFile").val();
            if (/^\s*$/.test(filename)) {
                $(".file-upload").removeClass('active');
                $("#noFile").text("No file chosen..."); 
            }
            else {
                $(".file-upload").addClass('active');
                $("#noFile").text(filename.replace("C:\\fakepath\\", "")); 
            }
        }
    });

    $('.classification').each(function() {
        var data1 = $(this).find('.classification_title').attr('data-classification');
        var data = JSON.parse(data1);
        var thischart = d3.select(this)
        classification_hist(data, thischart);
        classification_pie(data, thischart);
    });

    function classification_hist(data, thischart) {
        // var data1 = $('.classification_title').attr('data-classification');
        // var data = JSON.parse(data1);
        var colors = ['#FF8989', 'red', 'yellow', 'orange'];

        var margin = {top: 30, right: 30, bottom: 30, left: 40}, 
            width = 300 - margin.left - margin.right,
            height = 300 - margin.top - margin.bottom;

        var chart = thischart.select(".chart_hist")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
          .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        var x = d3.scale.ordinal()
            .rangeRoundBands([0, width], .1) 
            .domain(data.map(function(d) { return d.name; }));

        var y = d3.scale.linear()
            .range([height, 0])
            .domain([0, d3.max(data, function(d) { return d.value; })]);

        var xAxis = d3.svg.axis()
            .scale(x)
            .orient("bottom");

        var yAxis = d3.svg.axis()
            .scale(y)
            .orient("left")
            .ticks(5, "%");

        chart.append("g")
            .attr("class", "y axis")
            .call(yAxis)
        .append("text")
            .attr("transform", "rotate(-90)")
            .attr("y", 6)
            .attr("dy", ".71em")
            .style("text-anchor", "end")
            .text("Percentage");

        chart.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .call(xAxis);

        chart.selectAll('bar')
            .data(data)
        .enter().append("rect")
            .attr("class", 'bar')
            .attr("fill", function(d, i){return colors[i];})
            .attr("x", function(d) { return x(d.name); })
            .attr("y", function(d) { return y(d.value); })
            .attr("height", function(d) { return height - y(d.value); })
            .attr("width", x.rangeBand());

        chart.selectAll("text.bar")
            .data(data)
        .enter().append("text")
            .attr("class", 'bar')
            .attr("fill", function(d, i){return colors[i];})
            .attr("text-anchor", "middle")
            .attr("x", function(d) { return x(d.name) + x.rangeBand()/2; })
            .attr("y", function(d) { return y(d.value) - 5; })
            .text(function(d) { 
                return (d.value * 100).toFixed(3) + '%'; 
            });
    }

    function classification_pie(data, thischart) {
        // var data1 = $('.classification_title').attr('data-classification');
        // var data = JSON.parse(data1);

        var width = 300;
        var height = 300;
        var radius = height/2;
        var colors = ['#FF8989', 'red', 'yellow', 'orange']

        var vis = thischart.select('.chart_pie')
            .data([data]).attr("width", width)
            .attr("height", height).append("svg:g")
            .attr("transform", "translate(" + radius + "," + radius + ")");

        var pie = d3.layout.pie().value(function(d){return d.value;});

        var arc = d3.svg.arc().outerRadius(radius);

        var arcs = vis.selectAll("g.slice")
            .data(pie)
            .enter()
            .append("svg:g")
            .attr("class", "slice");

        arcs.append("svg:path")
            .attr("fill", function(d, i){return colors[i];})
            .attr("d", function (d) {return arc(d);});

        arcs.append("svg:text")
            .attr("transform", function(d){
                d.innerRadius = 100; /* Distance of label to the center*/
                d.outerRadius = radius;
                return "translate(" + arc.centroid(d) + ")";}
            )
            .attr("text-anchor", "middle")
            .text(function(d, i) {
                if (data[i].value > 0.1)
                    return data[i].name;
                else
                    return "";
            });
    }

    function show_audios_and_images(current, last_current) {
        if (last_current != 0) {
            $(".result_sub:eq(" + (last_current - 1) + ")").find('.audio_user').html('<p>original file</p>');
            $(".result_sub:eq(" + (last_current - 1) + ")").find('.audio_user_clean').html('<p>clean file</p>');
            $(".result_sub:eq(" + (last_current - 1) + ")").find('.audio_activity').html('<p>activity file</p>');
            $(".result_sub:eq(" + (last_current - 1) + ")").find('.audio_noise').html('<p>noise file</p>');
        }

        var waveform_user = $(".result_sub:eq(" + (current - 1) + ")").find('.audio_user').attr('data-user-waveform');
        $(".result_sub:eq(" + (current - 1) + ")").find('.audio_user').append('<img class="waveform" src=' + waveform_user + ' height="50px"/>');

        var audio_user = $(".result_sub:eq(" + (current - 1) + ")").find('.audio_user').attr('data-audio-user');
        $(".result_sub:eq(" + (current - 1) + ")").find('.audio_user').append('<audio controls preload="metadata" class="audiofile"><source src="../static/songs/users/' + audio_user + '" type="audio/mpeg"></audio>');
                
        var waveform_user_clean = $(".result_sub:eq(" + (current - 1) + ")").find('.audio_user_clean').attr('data-user-clean-waveform');
        $(".result_sub:eq(" + (current - 1) + ")").find('.audio_user_clean').append('<img class="waveform" src=' + waveform_user_clean + ' height="50px"/>');

        var audio_user_clean = $(".result_sub:eq(" + (current - 1) + ")").find('.audio_user_clean').attr('data-audio-user-clean');
        $(".result_sub:eq(" + (current - 1) + ")").find('.audio_user_clean').append('<audio controls preload="metadata" class="audiofile"><source src=' + audio_user_clean + ' type="audio/mpeg"></audio>');

        var waveform_activity = $(".result_sub:eq(" + (current - 1) + ")").find('.audio_activity').attr('data-activity-waveform');
        $(".result_sub:eq(" + (current - 1) + ")").find('.audio_activity').append('<img class="waveform" src=' + waveform_activity + ' height="50px"/>');

        var audio_activity = $(".result_sub:eq(" + (current - 1) + ")").find('.audio_activity').attr('data-audio-activity');
        $(".result_sub:eq(" + (current - 1) + ")").find('.audio_activity').append('<audio controls preload="metadata" class="audiofile"><source src=' + audio_activity + ' type="audio/mpeg"></audio>');

        var waveform_noise = $(".result_sub:eq(" + (current - 1) + ")").find('.audio_noise').attr('data-noise-waveform');
        $(".result_sub:eq(" + (current - 1) + ")").find('.audio_noise').append('<img class="waveform" src=' +waveform_noise + ' height="50px" />');

        var audio_noise = $(".result_sub:eq(" + (current - 1) + ")").find('.audio_noise').attr('data-audio-noise');
        $(".result_sub:eq(" + (current - 1) + ")").find('.audio_noise').append('<audio controls preload="metadata" class="audiofile"><source src=' + audio_noise + ' type="audio/mpeg"></audio>');
    }

    pagination();
    function pagination() {
        var pageSize = 1;
        var pageCount = Math.ceil($(".result_sub").length / pageSize);

        for (var i = 0; i < pageCount; i++){
          $("#pagin").append('<li class="paging"><a href="#" class="paging_num">'+(i+1)+'</a></li>');
        }

        $("#pagin li").first().find('a').addClass('current');
        
        $("#pagin").prepend('<span class="prev">Prev</span>');
        $("#pagin").append('<span class="next">Next</span>');

        $("#pagin").prepend('<span class="first">First</span>');
        $("#pagin").append('<span class="last">Last</span>');

        showPage = function(page) {
          $(".result_sub").hide();
          $(".result_sub").each(function(n) {
            if (n >= pageSize * (page - 1) && n < pageSize * page)
              $(this).show();
          }); 
        }

        showNumber = function(current) {
          if (current > 1) {
            $(".prev").show();
          } else {
            $(".prev").hide();
          }

          if (current == pageCount) {
            $(".next").hide()
          } else {
            $(".next").show()
          }

          if (pageCount > 10) {
            $(".paging").hide();
            $(".paging").each(function() {
              var paging = parseInt($(this).text());
              if (current < 5) {
                if (paging <= 5 ) {
                  $(this).show();
                }
              } else if (current <= pageCount - 8){
                if (paging >= current - 2 && paging <= current + 2 ) {
                  $(this).show();
                }
              } else {
                if (paging > pageCount - 10 && paging < pageCount - 2) {
                  $(this).show();
                }
              }
              if (paging <= pageCount && paging >= pageCount - 2) {
                $(this).show();
              }
            });
            if (current < 5) {
              $("#pagin>li:eq(4)").append('<li class="ellipsis">......</li>');
            } else if (current <= pageCount - 8){
              $("#pagin>li:eq("+ (current+1) +")").append('<li class="ellipsis">......</li>');
            }
          }
        }
        
        showNumber(1);
        showPage(1);

        var current = 1;
        show_audios_and_images(current, 0);
        $("#pagin li a").on('click', function() {
            var last_current = $("#pagin li").find('.current').html();
            $("#pagin li").find('.current').removeClass('current');
            $(this).addClass('current');
            $(".ellipsis").remove();
            current = parseInt($(this).text());
            showNumber(current);
            showPage(current);
            show_audios_and_images(current, last_current);
        });

        $(".prev").on("click", function() {
          $(".ellipsis").remove();
          $("#pagin li").find('.current').removeClass('current');
          $("#pagin>li:eq("+ (current - 2) +")").find('a').addClass('current');
          current = current - 1;
          showNumber(current);
          showPage(current);
          show_audios_and_images(current, current + 1);
        });

        $(".next").on("click", function() {
          $(".ellipsis").remove();
          $("#pagin li").find('.current').removeClass('current');
          $("#pagin>li:eq("+ current +")").find('a').addClass('current');
          current = current + 1;
          showNumber(current);
          showPage(current);
          show_audios_and_images(current, current - 1);
        });

        $(".first").on("click", function() {
          $(".ellipsis").remove();
          var last_current = $("#pagin li").find('.current').html();
          $("#pagin li").find('.current').removeClass('current');
          $("#pagin li").first().find('a').addClass('current');
          showNumber(1);
          showPage(1);
          show_audios_and_images(1, last_current);
        });

        $(".last").on("click", function() {
          $(".ellipsis").remove();
          var last_current = $("#pagin li").find('.current').html();
          $("#pagin li").find('.current').removeClass('current');
          $("#pagin li").last().find('a').addClass('current');
          showNumber(pageCount);
          showPage(pageCount);
          show_audios_and_images(pageCount, last_current);
        });
    }
</script>
{% endblock %}