.fit {
    width: 40%;
}

.navbar {
    background-color: #3F3942;
    border-bottom: solid 2px #EE7E21;
}

.footer {
    color: white;
    background-color: #3F3942;
}

.navbar-light .navbar-nav .nav-link.active {
    background-color: #EE7E21;
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 200;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: white;
}

.navbar-light .navbar-nav .nav-link.upload_btn.active {
    color: white;
}

.navbar-light .navbar-nav .nav-link.upload_btn {
    color: #EE7E21;
    font-weight: 200;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-expand-lg .navbar-nav {
    margin: 0 auto;
}

.footer {
    color: white;
    background-color: #3F3942;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 11px;
    font-weight: 100;
}

#uploadButton {
    height: 36px;
    width: 36px;
    position: relative;
    left: 30%;
    top: -50%;
}